
.item {
     margin: 1rem 0;
    background-color: #e4e0e0;
    border-radius: 30px;
    border: 1px solid black;
    width: 700px;
    height: 700px;
    transition: .3s ease-in-out;
    word-wrap: break-word;
  }
  
  .content {
    margin-top: 20px;
    text-align: center;
    padding: 1rem;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #5444e6;
    border: 1px solid #5444e6;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe2ed;
  }

  .control-post {
    float: right;
    margin-right: 1s0px;
    font-size: 20px;
  }

  .control-post .fa {
    margin: 10px;
    cursor: pointer;
    color: #5444e6;
    font-size: 23px;
  }

  .control-post .fa:hover {
   color: red;
  }

.similar-posts {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.similar {
  width: 300px;
  height: auto;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  background-color: #afa8eb;
}

.item p {
  font-size: 18px;
}
